<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Sou EU?</title>
    <link rel="shortcut icon" href="../images/Manutenção23.jpg"/>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<header>
    <h1>+Informações</h1>
</header>
<body class="">
    
    <div>
        <div class="text">
            <h2>Minha Carreira</h2>
            <ul>
                <p>
                    Atualmente trabalho como Auxiliar Tecnico Em Manutenção na Empresa ALZ GRÃOS, tendo experiêcia nessa area especifica a mais de 2 anos.
                </p>
                <p>
                    Me Formei no Senai Cetec-Palmas, juntamente fiz algumas capacitações na Instituição Cisco.
                </p>
            <h3>Meus Objetivos</h3>
                <p>Pretendo ajudar aqueles que me buscam nesse site, fazendo com que os problemas relacionados na área de Manutenção dos seus computadores sejam resolcidos trazendo assim satisfação e conforto ao cliente.</p>
                
                <img src="../images/SENAI CETEC.jpg" alt="Imagem 1" width="">
                <img src="../images/Carlos Rodrigues TI.jpg" alt="Imagem 2" width="18.1%">
                <p>
                <a href="../index.html">Pagina Inicial</a>
                <a href="../views/cadastro.html">Cadastrese</a>
                </p>
        
            </ul>
        </div>
    </div>
</body>
<footer>
    <p>&copy; 2024 Suporte em Manutenção de Computadores. Todos os direitos reservados.</p>
</footer>
</html>