<!DOCTYPE html>
<html lang=”pt-BR”>

<body>
    <header>
        <meta charset="UTF-8">
        <img src="../PROJETOS-HTML/images/Manutenção.jpg" alt="Manutenção" style="width:25%;">
        <title>Tags Semanticas</title>
        <nav>
            <a href="../index.html">Acesse Aqui</a>
        </nav>
    </header>
    <main>
        <section>
                <div>
                    <h1>Titulo</h1>
                    <h2>Subtitulo</h2>
                    <button></button>
                </div>
        </section>
    </main>
    <footer>
    </footer>
</body>

</html>