<!DOCTYPE html>
<html>

<head>
    <title>Título da página</title>
    <meta charset="UTF-8">
    <style type=”text/css>
        body {
            background-color: aquamarine;
        }

        p {
            color: red;
            font-size: 16px font-family= Arial;
        }
    </style>
</head>

<body>
    <h1>Título 1</h1>
    <a href="pagina2.html">link para outra página</a>
    <p id=”psegundo”>Primeiro parágrafo para teste de conteúdo de texto</p>
    <p>Segundo parágrafo para teste de conteúdo de texto</p>
</body>

<footer>
</footer>

</html>